__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.git
.gitignore
.gitattributes
.vscode
.idea
.DS_Store

# Don't bake secrets into Docker images
*.env
.env*
!.env.example

